// bootstrap-4
$font-family-base: sans-serif !default;
$body-bg: #f4f4f4;
$body-text: #080909;

$h1-font-size: 60px;
$h2-font-size: 28px;
$h3-font-size: 18.7px;
$h4-font-size: 16px;
$h5-font-size: 16px;

$headings-font-weight: bold;

// original
$page-padding: 64px;
$frock-red: #e02613;
